.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureLink {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}
  
.featureLink:hover {
    text-decoration: none;
    transform: scale(1.02);
    color: inherit;
}

.featureSvg {
    height: 200px;
    width: 200px;
}
